pkgbase = xlibre-video-nouveau
	pkgdesc = Open Source 3D acceleration driver for nVidia cards
	pkgver = 1.0.18.2
	pkgrel = 1
	url = https://github.com/X11Libre/xf86-video-nouveau
	arch = aarch64
	arch = x86_64
	groups = xlibre-drivers
	license = MIT
	makedepends = systemd
	makedepends = xlibre-xserver-devel
	makedepends = X-ABI-VIDEODRV_VERSION=28.0
	depends = glibc
	depends = libdrm
	depends = mesa
	depends = systemd-libs
	provides = xf86-video-nouveau
	conflicts = xf86-video-nouveau
	conflicts = xorg-server<21.1.1
	conflicts = X-ABI-VIDEODRV_VERSION<28
	conflicts = X-ABI-VIDEODRV_VERSION>=29
	source = xf86-video-nouveau-xlibre-xf86-video-nouveau-1.0.18.2.tar.gz::https://github.com/X11Libre/xf86-video-nouveau/archive/refs/tags/xlibre-xf86-video-nouveau-1.0.18.2.tar.gz
	b2sums = c4accca05c2ee590fb69ec0982a4bc48c0a31889299fe8bec035425b133ca5bf79fa1060f4280c3066300bf6ff2aa3ba3b2e35abfbae317d2eb590c5c04cb125

pkgname = xlibre-video-nouveau
