pkgbase = xlibre-video-nouveau
	pkgdesc = Open Source 3D acceleration driver for nVidia cards
	pkgver = 1.0.18.3
	pkgrel = 1
	url = https://github.com/X11Libre/xf86-video-nouveau
	arch = aarch64
	arch = x86_64
	groups = xlibre-drivers
	license = MIT
	makedepends = systemd
	makedepends = xlibre-xserver-devel
	makedepends = X-ABI-VIDEODRV_VERSION=28.0
	depends = glibc
	depends = libdrm
	depends = mesa
	depends = systemd-libs
	provides = xf86-video-nouveau
	conflicts = xf86-video-nouveau
	conflicts = xorg-server<21.1.1
	conflicts = X-ABI-VIDEODRV_VERSION<28
	conflicts = X-ABI-VIDEODRV_VERSION>=29
	source = xf86-video-nouveau-xlibre-xf86-video-nouveau-1.0.18.3.tar.gz::https://github.com/X11Libre/xf86-video-nouveau/archive/refs/tags/xlibre-xf86-video-nouveau-1.0.18.3.tar.gz
	b2sums = 2a5651c8a7475d24603e8afb81fce19aa2cb3e51aee7f3767a26c71ec4cbd4c20e3f5a02f8e215fa95b33f716161d8ef656e83c0237bc91566f4bfc16344b71a

pkgname = xlibre-video-nouveau
